.signup-landing-button {
  background-color: #dbd5bb;
  font-size: 40px;
  font-weight: 1000;
  color: #252629;
  transform: scale(1, 1.2);
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.signup-landing-button:hover {
  font-size: 45px;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
}

.signup-landing-button:active {
  font-size: 35px;
}

/********************************************/

.signup-section {
  height: 100vh;
  background: #252629;
  border: 35px solid #ff9d8d;
}

.signup-logo-position {
  text-align: center;
  margin-top: 10px;
  margin-bottom: -15px;
}

.signup-logo-att {
  height: 250px;
  width: 450px;
}

.overall-text {
  color: #dbd5bb;
}

.login-link-text {
  color: #dbd5bb;
}

.login-link-text:hover {
  font-weight: bold;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
}

.signup-h1-position {
  text-align: center;
  margin-bottom: 50px;
}
.signup-h1-style {
  color: #ff9d8d;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 45px;
  transform: scale(1, 0.95);
  display: inline;
  border-top: 3px solid #ff9d8d;
  border-bottom: 3px solid #ff9d8d;
  border-radius: 10px;
  padding: 10px;
}

.signup-h5-username {
  margin-left: -170px;
  font-size: 12pt;
  margin-bottom: 10px;
  color: #dbd5bb;
}

.signup-h5-email {
  margin-left: -140px;
  font-size: 12pt;
  margin-bottom: 10px;
  color: #dbd5bb;
}

.signup-h5-pass {
  margin-left: -175px;
  font-size: 12pt;
  margin-bottom: 10px;
  color: #dbd5bb;
}

.signup-h5-confirm {
  margin-left: -110px;
  font-size: 12pt;
  margin-bottom: 10px;
  color: #dbd5bb;
}

.signup-form {
  text-align: center;
}

.signup-textarea {
  height: 35px;
  width: 250px;
  background-color: #ff9d8d;
  border-style: none;
  border-radius: 6px;
  padding-left: 10px;
  font-weight: bold;
}

.signup-textarea:hover {
  transition: 0.5s;
  width: 300px;
}

.signup-textarea:focus {
  outline: 0;
  width: 300px;
}

.signup-textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

.signup-textarea::placeholder {
  color: gray;
  font-weight: 500;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.signup-button-spacing {
  margin-top: 50px;
}

.signup-button {
  background-color: transparent;
  display: inline-block;
  padding: 0.2em 1em;
  border: 0.1em solid #ff9d8d;
  margin-bottom: 10px;
  margin-top: -20px;
  border-radius: 7px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 25px;
  color: #ff9d8d;
  text-align: center;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  cursor: pointer;
}

.signup-button:hover {
  color: #000000;
  background-color: #ff9d8d;
}

.signup-button:active {
  font-size: 20px;
}

.signup-admin-label {
  text-align: center;
}

.error-size {
  font-size: 10px;
}

.signup-checkbox1-label {
  margin-top: 20px;
}

.signup-checkbox2-label {
  margin-top: 10px;
  margin-bottom: -5px;
  margin-left: -25px;
}
