.landing-signin-button {
  background-color: #dbd5bb;
  font-size: 40px;
  font-weight: 1000;
  color: #252629;
  transform: scale(1, 1.2);
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.landing-signin-button:hover {
  font-size: 45px;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  background-color: #dbd5bb;
}

.landing-signin-button:active {
  font-size: 35px;
  background-color: #dbd5bb;
}

/******************************************/

.signin-section {
  height: 100vh;
  background: #252629;
  border: 35px solid #ff9d8d;
}

.signin-logo-position {
  padding-top: 40px;
  text-align: center;
}

.signin-logo-att {
  height: 250px;
  width: 450px;
  color: #ff9d8d;
}

.signin-h1-position {
  text-align: center;
  padding-bottom: 20px;
}
.signin-h1-style {
  color: #ff9d8d;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 45px;
  transform: scale(1, 0.95);
  display: inline;
  border-top: 3px solid #ff9d8d;
  border-bottom: 3px solid #ff9d8d;
  border-radius: 10px;
  padding: 10px;
}

.signin-h5-email {
  margin-left: -140px;
  font-size: 12pt;
  margin-bottom: 10px;
  color: #dbd5bb;
}

.signin-h5-pass {
  margin-left: -175px;
  font-size: 12pt;
  margin-bottom: 10px;
  color: #dbd5bb;
}

.signin-form {
  text-align: center;
}

.signin-textarea {
  height: 35px;
  width: 250px;
  background-color: #ff9d8d;
  border-style: none;
  border-radius: 6px;
  padding-left: 10px;
  font-weight: bold;
  margin-bottom: -10px;
}

.signin-textarea:hover {
  transition: 0.5s;
  width: 300px;
}

.signin-textarea:focus {
  outline: 0;
  width: 300px;
}

.signin-textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

.signin-textarea::placeholder {
  color: gray;
  font-weight: 500;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.signin-button-top {
  margin-top: 50px;
  color: #dbd5bb;
}

.button-divider {
  width: 10px;
  height: auto;
  display: inline-block;
}

.signin-button {
  background-color: transparent;
  display: inline-block;
  padding: 0.2em 1em;
  margin-top: -10px;
  border: 0.1em solid #dbd5bb;
  border-radius: 7px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 25px;
  color: #dbd5bb;
  text-align: center;
  transition: all 0.2s;
  cursor: pointer;
}

.signin-button:hover {
  color: #000000;
  background-color: #dbd5bb;
}

.signin-admin-label {
  text-align: center;
}

.signin-button-social-google {
  background-color: red;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-top: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: white;
  text-align: center;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  cursor: pointer;
}

.signin-button-social-google:hover {
  background-color: white;
  color: red;
}

.signin-button-social-google:active {
  background-color: white;
  color: red;
  font-size: 18px;
}

.signin-button-social-facebook {
  background-color: #3b5998;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: white;
  text-align: center;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  cursor: pointer;
}

.signin-button-social-facebook:hover {
  background-color: white;
  color: #3b5998;
}

.signin-button-social-facebook:active {
  background-color: white;
  color: #3b5998;
  font-size: 16px;
}

.signin-button-social-twitter {
  background-color: #1da1f2;
  padding: 10px;
  padding-right: 23px;
  padding-left: 23px;
  border: none;
  border-radius: 5px;
  margin-top: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: white;
  text-align: center;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  cursor: pointer;
}

.signin-button-social-twitter:hover {
  background-color: white;
  color: #1da1f2;
}

.signin-button-social-twitter:active {
  background-color: white;
  color: #1da1f2;
  font-size: 16px;
}

.forgot-pass-link {
  text-align: center;
  margin-top: 40px;
}
