.main-section {
  height: 100vh;
  color: white;
  background: #252629;
  border: 35px solid #ff9d8d;
}

.main-logo-position {
  padding-top: 100px;
  text-align: center;
}

.main-logo-att {
  height: 250px;
  width: 450px;
}

.main-text {
  color: #dbd5bb;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  font-size: 30px;
}

.split-border {
  background-color: #ff9d8d;
  text-align: center;
  margin-top: 40px;
  width: 400px;
  height: 2px;
  border-radius: 30px;
}
.split-horizontal-border
{
  display: block;
  background-color: #ff9d8d;
  margin-top: 40px;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-width: 1px;
  width: 400px;
  height: 4px;
}

.signup-button-pos {
  text-align: center;
  padding-top: 80px;
}

.signin-button-pos {
  text-align: center;
  padding-top: 40px;
}

.signup-button-pos {
  text-align: center;
  padding-top: 80px;
}

.signin-button-pos {
  text-align: center;
  padding-top: 40px;
}
